@model CompraloYa.Models.Ropa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ropa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoRopa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoRopa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioRopa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioRopa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeRopa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeRopa.IdTypeRopa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeSend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeSend.IdSend)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTypeRopa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
