@model IEnumerable<CompraloYa.Models.Oficina>

@{
    ViewData["Title"] = "Oficina";
}

<h3>Oficina</h3>

<p>
    <a asp-action="Create" class="btn btn-success">Vender Articulo</a>
</p>

<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div>   @Html.DisplayFor(modelItem => item.CodigoOficina) </div>

            </td>
            <td>
                <div> @Html.DisplayFor(modelItem => item.Nombre)  </div>
            </td>
            <td>
                <div> @Html.DisplayFor(modelItem => item.DetalleOficina)</div>
            </td>
            <td>
                <div>   @Html.DisplayFor(modelItem => item.Stock)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.PrecioOficina)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.TypeSend.IdSend)</div>
            </td>
            <td>
                <img src="~/Image/@item.ImageName" class="rounded" width="100px" height="100px" asp-append-version="true" />
            </td>
            <td>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdOficina">Detalle</a>
            </td>
        </tr>
    }
</tbody>

