@model CompraloYa.Models.Joyeria


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Joyeria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" >
            @Html.DisplayNameFor(model => model.CodigoJoya)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoJoya)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreJoya)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreJoya)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleJoya)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetalleJoya)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioJoya)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioJoya)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeSend)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeSend.TypeSendName)

        </dd>
        @*<dt class="col-sm-2">*@
        @*@Html.DisplayNameFor(model => model.ImageName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImageName)
            </dd>*@


        <dd class="col-sm-10">
            Imagen
        </dd>

        <dd class="col-sm-10">
            <img src="@("~/Image/"+Model.ImageName)" asp-append-version="true" width="250px" height="250px" />
        </dd>


    </dl>
</div>
<div>

    <a asp-action="Index" class="btn btn-dark">Regresar</a>
    <a class="btn btn-dark" asp-controller="Tarjetas" asp-action="Verificacion"> COMPRAR <i class="fas fa-bell"></i></a>
</div>
