@model IEnumerable<CompraloYa.Models.Joyeria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoJoya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreJoya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleJoya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioJoya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeSend)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoJoya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreJoya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleJoya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioJoya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeSend.IdSend)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJoyeria">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdJoyeria">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdJoyeria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
