@model CompraloYa.Common.Pagination<Joyeria>

@{
    ViewData["Title"] = "Joyeria";
}
<link rel="stylesheet" href="~/css/Joyas.css" />
<div id="h">
    <h3>Joyas</h3>
    <p id="p1">
        <a asp-action="Create" class="btn btn-success">Vender Articulo</a>
    </p>
</div>
<hr />





    <div class="divJoyas">
        @foreach (var item in Model.Result)
        {
        <tr>

            <td>
                <div> @Html.DisplayFor(modelItem => item.CodigoJoya)  </div>

            </td>
            <td>
                <div> @Html.DisplayFor(modelItem => item.NombreJoya)  </div>
            </td>
            <td>
                <div> @Html.DisplayFor(modelItem => item.DetalleJoya) </div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.Stock) </div>

            </td>
            <td>
                <div> @Html.DisplayFor(modelItem => item.PrecioJoya)  </div>
            </td>
            <td>
                <div>  @Html.DisplayFor(modelItem => item.TypeSend.IdSend) </div>
            </td>
            <td>
                <img src="~/Image/@item.ImageName" class="rounded" width="100px" height="100px" asp-append-version="true" />
            </td>

            <td>

                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdJoyeria">Detalle</a>
            </td>
        </tr>
    }
    </div>

    
<div id="Pagination">
    @if (Model.Result.Count() > 0)
    {
        <span>
            <strong>@Model.TotalRecords</strong> registros encontrados
        </span>
        <span> | </span>
        <span>
            Pagina <strong>@Model.CurrentPage</strong> de
            <strong> @Model.TotalPage</strong>
        </span>
        <span>|</span>

    }
    else
    {
        <span> No hay resultados para esta busqueda </span>
        <span> | </span>
    }

    @if (Model.CurrentPage > 1)
    {
        @Html.ActionLink("<<", "Index", new { Page = 1, Search = Model.Search },
            new { @class = "btn btn-sm btn-default" })
        <span></span>

        @Html.ActionLink("Anterior", "Index", new { Page = Model.CurrentPage - 1, Search = Model.Search },
            new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        @Html.ActionLink("<<", "Index", new { Page = 1, Search = Model.Search },
          new { @class = "btn btn-sm btn-default disabled " })

        @Html.ActionLink("Anterior", "Index", new { Page = 1, Search = Model.Search },
          new { @class = "btn btn-sm btn-default disabled" })
    }

    <span></span>

    @if (Model.CurrentPage < Model.TotalPage)
    {
        @Html.ActionLink("Siguiente", "Index", new { Page = Model.CurrentPage + 1, Search = Model.Search },
          new { @class = "btn btn-sm btn-default" })

        <span></span>

        @Html.ActionLink(">>", "Index", new { Page = Model.TotalPage, Search = Model.Search },
         new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        @Html.ActionLink("Siguiente", "Index", new { Page = Model.CurrentPage - 1, Search = Model.Search },
         new { @class = "btn btn-sm btn-default disabled" })

        <span></span>

        @Html.ActionLink(">>", "Index", new { Page = Model.TotalPage, Search = Model.Search },
         new { @class = "btn btn-sm btn-default disabled" })
    }
</div>
<link rel="stylesheet" href="~/css/common.css" />
